@font-face {
  font-family: "Raleway light";
  src: url("../fonts/RalewayLight/RalewayLight.eot");
  src: url("../fonts/RalewayLight/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayLight/RalewayLight.woff") format("woff"), url("../fonts/RalewayLight/RalewayLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RalewaySemiBold";
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot");
  src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"), url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansLightItalic";
  src: url("../fonts/OpenSansLightItalic/OpenSansLightItalic.eot");
  src: url("../fonts/OpenSansLightItalic/OpenSansLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLightItalic/OpenSansLightItalic.woff") format("woff"), url("../fonts/OpenSansLightItalic/OpenSansLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans.eot");
  src: url("../fonts/OpenSans/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans.woff") format("woff"), url("../fonts/OpenSans/OpenSans.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome/FontAwesome.eot");
  src: url("../fonts/FontAwesome/FontAwesome.eot?#iefix") format("embedded-opentype"), url("../fonts/FontAwesome/FontAwesome.woff") format("woff"), url("../fonts/FontAwesome/FontAwesome.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.contacts, .section2, .header {
  background-color: rgba(221, 222, 194, 0.91);
  position: relative;
}
.contacts:after, .section2:after, .header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.section-green {
  background: #b2cb8c url("../img/bg-section1.jpg") no-repeat;
  position: relative;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
}

body {
  font-family: "Raleway light", sans-serif;
  font-size: 16px;
  min-width: 320px;
  line-height: 1.75;
  opacity: 1;
  position: relative;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.carousel img {
  width: 100%;
  height: auto;
}

.row {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, a {
  text-transform: uppercase;
}

h2, h3 {
  font-weight: 100;
}

a {
  color: #505050;
}
a:hover, a:focus {
  outline: none;
  text-decoration: none;
}

button:hover, button:focus, input:focus {
  outline: none;
}

.button {
  margin: 5% auto;
  display: inline-block;
  font-family: "OpenSans", sans-serif;
  border-bottom: 1px solid #467f0d;
  border-radius: 5px;
  background-color: #f7f5d5;
  font-size: 1.1em;
  padding: 10px 20px 8px;
  transition: all 0.25s ease;
}
.button:hover {
  background-color: #b2cb8c;
}
.button:hover a {
  color: #fff;
  font-weight: 500;
}
.button:focus {
  background-color: #9abb69;
}
.button:focus a {
  color: #fff;
}

.anchor {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes tremble {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  2.5% {
    -webkit-transform: translate(3px, 0);
    -moz-transform: translate(3px, 0);
    -ms-transform: translate(3px, 0);
    transform: translate(3px, 0);
  }
  5% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  7.5% {
    -webkit-transform: translate(3px, 0);
    -moz-transform: translate(3px, 0);
    -ms-transform: translate(3px, 0);
    transform: translate(3px, 0);
  }
  10% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  12.5% {
    -webkit-transform: translate(3px, 0);
    -moz-transform: translate(3px, 0);
    -ms-transform: translate(3px, 0);
    transform: translate(3px, 0);
  }
  15% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.header {
  max-height: 900px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header:after {
  background: url("../img/bg_header.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.header .nav {
  width: 100%;
  height: 70px;
  background-color: rgba(216, 217, 193, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.header .nav .toggle-menu {
  text-transform: uppercase;
  color: #ffffff;
  z-index: 6;
  font-size: 1.5em;
  margin: 1% auto;
  display: none;
}
.header .nav .nav__list {
  padding: 20px 0 15px;
}
.header .nav .nav__list li {
  display: inline-block;
  padding: 0 21px;
  text-transform: uppercase;
}
.header .nav .nav__list li a {
  font-size: 1.1em;
  border-bottom: 1px solid transparent;
  transition: color 0.2s ease, border-color 0.4s ease;
}
.header .nav .nav__list li a:hover, .header .nav .nav__list li a:focus {
  color: #fff;
  border-color: #efefef;
}
.header .nav .nav__list li a:focus {
  font-weight: bold;
}
.header .nav .nav-show {
  display: block;
  background-color: rgba(216, 217, 193, 0.9);
}
.header .nav .nav-show li {
  display: block;
  padding: 10px 0;
}
.header .top-line-hidden {
  height: 70px;
}
.header .logo-composition {
  text-align: center;
}
.header .logo-composition .logo-img img {
  max-width: 60%;
}
.header .bottom-line {
  background-color: rgba(51, 51, 51, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  width: 100%;
  bottom: 0;
}
.header .bottom-line .address, .header .bottom-line .phone {
  font-family: "OpenSans", sans-serif;
  font-size: 0.9em;
  line-height: 1.4;
  color: #505050;
  padding: 10px 0 10px 25px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.header .bottom-line .address:hover svg, .header .bottom-line .phone:hover svg {
  fill: #467f0d;
  animation: tremble 5s infinite;
}
.header .bottom-line .address:hover .location-link__text, .header .bottom-line .address:hover .phone__numbers a, .header .bottom-line .phone:hover .location-link__text, .header .bottom-line .phone:hover .phone__numbers a {
  color: #485f25;
}
.header .bottom-line .address svg, .header .bottom-line .phone svg {
  fill: #505050;
  position: absolute;
  top: 20px;
}
.header .bottom-line .address {
  float: left;
}
.header .bottom-line .address .location-link__text {
  text-transform: none;
}
.header .bottom-line .address svg {
  left: 0;
  background: url("../img/svg/location_icon.svg") no-repeat;
}
.header .bottom-line .phone {
  float: right;
}
.header .bottom-line .phone svg {
  right: 130px;
  background: url("../img/svg/phone_icon.svg") no-repeat;
}
.header .bottom-line .title {
  cursor: pointer;
}
.header .bottom-line .title::after {
  content: attr(data-title);
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  top: -20px;
  left: 40px;
  z-index: 3;
  color: #485f25;
  border: 1px solid #467f0d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 10px;
}
.header .bottom-line .title:hover::after {
  opacity: 1;
}
.header .header__arrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 25%;
}
.header .header__arrow .arrow_img {
  width: 30px;
}

.section-green .owl-carousel-image {
  background-size: cover;
  background-position: center;
}
.section-green .owl-carousel-content {
  text-align: center;
  color: #fff;
}
.section-green .owl-carousel-content .logo-mini {
  margin-top: 10px;
}
.section-green .owl-carousel-content h3 {
  margin-top: -15px;
  font-size: 1.3em;
}
.section-green .owl-carousel-content .services p {
  padding: 3px 0;
  font-family: "OpenSansLight", sans-serif;
}
.section-green .owl-carousel-content .services p span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 7px 30px;
}
.section-green .owl-carousel-content .services p span strong {
  color: #5d5d5d;
}
.section-green .owl-carousel-content .button {
  margin: 8% 0;
  font-size: 0.75em;
}

.owl-carousel-s1 .owl-carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.8;
  transition: opacity 0.4s ease;
}
.owl-carousel-s1 .owl-carousel-item:hover {
  opacity: 1;
}

.owl-carousel-s1 .owl-item:nth-child(2n) .owl-carousel-item {
  flex-direction: column-reverse;
}

.owl-carousel-s1, .reviews__owl-carousel {
  position: relative;
}
.owl-carousel-s1 .owl-nav, .reviews__owl-carousel .owl-nav {
  position: absolute;
  width: 100%;
  opacity: 0.7;
  top: 42%;
  font-size: 0;
}
.owl-carousel-s1 .owl-nav .owl-prev, .owl-carousel-s1 .owl-nav .owl-next, .reviews__owl-carousel .owl-nav .owl-prev, .reviews__owl-carousel .owl-nav .owl-next {
  width: 60px;
  height: 90px;
  position: absolute;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
}
.owl-carousel-s1 .owl-nav .owl-prev span, .owl-carousel-s1 .owl-nav .owl-next span, .reviews__owl-carousel .owl-nav .owl-prev span, .reviews__owl-carousel .owl-nav .owl-next span {
  display: none;
}
.owl-carousel-s1 .owl-nav .owl-prev, .reviews__owl-carousel .owl-nav .owl-prev {
  background-image: url(../img/arrow_left_s1.png);
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  border-radius: 0 3px 3px 0;
}
.owl-carousel-s1 .owl-nav .owl-next, .reviews__owl-carousel .owl-nav .owl-next {
  background-image: url(../img/arrow_right_s1.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px 0 0 3px;
  right: 0;
}

.owl-carousel-s1 .owl-item:nth-child(3n+1) .owl-carousel-item {
  background-color: #93c04f;
}

.owl-carousel-s1 .owl-item:nth-child(3n+2) .owl-carousel-item {
  background-color: #eba47a;
}

.owl-carousel-s1 .owl-item:nth-child(3n+3) .owl-carousel-item {
  background-color: #99baca;
}

.section2:after {
  background: url("../img/bg_section2.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.section2 .s2_content {
  text-align: center;
}
.section2 .s2_content h2 {
  color: #fff;
  text-transform: none;
  font-size: 3em;
  margin-top: 25px;
}
.section2 .s2_content h2 span {
  color: #467f0d;
}
.section2 .s2_content p {
  text-align: justify;
}
.section2 .s2_content p span {
  color: #fff;
}

.s2__fotorama {
  margin: 10% 0;
  height: 90%;
}

.fotorama__wrap {
  height: 100%;
}
.fotorama__nav-wrap {
  position: absolute;
  bottom: 10px;
  padding: 20px 4px;
  width: 100%;
}
.fotorama__thumb {
  border: 3px solid #fff;
  transition: border-color 0.5s ease;
}
.fotorama__thumb-border {
  border-color: #82a64b;
}
.fotorama__active .fotorama__thumb {
  border-color: #82a64b;
}
.fotorama__arr--prev::before, .fotorama__arr--next::before {
  padding: 20px 16px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;
}
.fotorama__arr--next {
  right: -2px;
}
.fotorama__arr--next::before {
  right: 0;
  content: "";
  background-image: url(../img/arrow_right_s2.png);
}
.fotorama__arr--prev {
  left: 0;
}
.fotorama__arr--prev::before {
  content: "";
  background-image: url(../img/arrow_left_s2.png);
}

.fotorama-row {
  display: flex;
  align-items: flex-start;
}

.reviews {
  background-size: cover;
  background-position: center;
  max-height: 740px;
}
.reviews__content {
  text-align: center;
  padding: 50px 0;
}
.reviews__content h2 {
  color: #505050;
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 100;
}
.reviews__content h2 span {
  color: #fff;
}
.reviews__owl-carousel--item h3 {
  margin: 0;
  text-transform: none;
  font-size: 2em;
  font-family: "OpenSansLightItalic", sans-serif;
  font-weight: 100;
  color: #fff;
  position: relative;
}
.reviews__owl-carousel--item h3:before, .reviews__owl-carousel--item h3:after {
  content: "";
  position: absolute;
  top: 10px;
  background: url("../img/reviews_figure.png") no-repeat;
  width: 100%;
  height: 30px;
}
.reviews__owl-carousel--item h3:before {
  left: 10%;
}
.reviews__owl-carousel--item h3:after {
  right: 10%;
  transform: scale(-1, 1);
}
.reviews__owl-carousel--item p {
  padding: 20px 10px 50px;
  position: relative;
}
.reviews__owl-carousel .owl-nav .owl-prev, .reviews__owl-carousel .owl-nav .owl-next {
  background-color: transparent;
  height: 32px;
}
.reviews__owl-carousel .owl-nav .owl-prev {
  left: -5%;
}
.reviews__owl-carousel .owl-nav .owl-next {
  right: -5%;
}

.contacts {
  text-align: center;
  padding-bottom: 30px;
}
.contacts:after {
  background: url("../img/Minsk.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.contacts .h2 {
  margin: 0;
  padding: 50px;
  color: #fff;
  font-size: 2em;
  line-height: 1.1;
}
.contacts .h2 span {
  color: #467f0d;
}
.contacts__text {
  text-align: left;
  font-family: "OpenSansLight", sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  color: #505050;
  padding: 10px 0;
}
.contacts .map {
  margin: 15px;
  float: left;
  width: 96%;
  height: 280px;
  border: 1px solid rgba(70, 127, 13, 0.5);
}
.contacts .request__text {
  margin: 25px 0 0;
  font-size: 2.5em;
  color: #467f0d;
  font-weight: bold;
  line-height: 1.1;
}
.contacts .button {
  text-transform: uppercase;
  color: #505050;
  border: 0;
  border-bottom: 1px solid #467f0d;
  margin: 10px 0;
}
.contacts .button:hover {
  color: #fff;
}

.request__form {
  position: relative;
}
.request__form .input, .request__form .nice-select {
  font-family: "OpenSansLight", sans-serif;
  background-color: rgba(248, 255, 231, 0.4);
  border: 1px solid rgba(127, 147, 97, 0.6);
  border-radius: 5px;
  padding: 0 12px;
  display: inline-block;
  margin: 10px 0;
  width: 100%;
  height: 40px;
  font-size: 1em;
  transition: all 0.2s;
}
.request__form .input:focus, .request__form .nice-select:focus {
  background-color: transparent;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
}
.request__form .nice-select .current {
  color: #666;
}
.request__form .nice-select .list {
  width: 100%;
  color: #666;
}
.request__form .nice-select .list li:hover, .request__form .nice-select .list li:focus, .request__form .nice-select .list .selected {
  background-color: #e0e6cd;
}

.footer {
  background-color: #7f9361;
  padding: 15px 0;
}
.footer__logo, .footer__author, .footer__social {
  text-align: center;
  margin-bottom: 10px;
}
.footer__logo img {
  width: 180px;
}
.footer__author {
  min-height: 65px;
}
.footer__author .author, .footer__author .copyright {
  vertical-align: middle;
  line-height: 5;
}
.footer__author .author {
  margin-left: 20px;
  white-space: nowrap;
}
.footer__social {
  min-height: 65px;
}
.footer__social a {
  line-height: 5;
}
.footer__social a svg {
  fill: #d6d9ba;
  padding: 5px 0;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__social a svg:hover {
  fill: #f2f4e1;
}

@media only screen and (max-width: 992px) {
  .owl-carousel-s1 .owl-carousel-item {
    flex-direction: row;
  }
  .owl-carousel-s1 .owl-item:nth-child(2n) .owl-carousel-item {
    flex-direction: row;
  }
}
@media only screen and (max-width: 768px) {
  .header .top-line {
    height: 50px;
  }
  .header .top-line .toggle-menu {
    display: block;
  }
  .header .nav__list {
    display: none;
  }
  .header .bottom-line {
    padding-bottom: 10px;
  }
  .header .bottom-line .address-wrap, .header .bottom-line .phone-wrap {
    text-align: center;
  }
  .header .bottom-line .address, .header .bottom-line .phone {
    text-align: center;
    display: inline-block;
    padding-bottom: 0;
    float: none;
  }
  .header .bottom-line .header__arrow {
    display: none;
  }
  .header .bottom-line .title:after {
    visibility: hidden;
  }

  .reviews__owl-carousel h3:after, .reviews__owl-carousel h3:before {
    visibility: hidden;
  }

  .contacts__text {
    text-align: center;
  }
  .contacts .map {
    margin-bottom: 50px;
  }
  .contacts .request__logo {
    display: none;
  }

  .footer__author {
    min-height: 0;
  }
  .footer__author .author, .footer__author .copyright {
    line-height: 1;
  }

  .anchor {
    height: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .header .logo-composition .logo-img img {
    max-width: 90%;
  }

  .section2 .fotorama-row {
    display: block;
  }
  .section2 .fotorama {
    overflow: visible;
  }
  .section2 .fotorama__nav-wrap {
    bottom: -80px;
  }

  .reviews__owl-carousel .owl-nav .owl-prev {
    left: -25px;
  }
  .reviews__owl-carousel .owl-nav .owl-next {
    right: -25px;
  }
  .reviews__owl-carousel .request-text {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
