@keyframes tremble
	0%
		-webkit-transform: translate(0, 0)
		-moz-transform: translate(0, 0)
		-ms-transform:  translate(0, 0)
		transform: translate(0, 0)
	2.5%
		-webkit-transform: translate(3px, 0)
		-moz-transform: translate(3px, 0)
		-ms-transform:  translate(3px, 0)
		transform: translate(3px, 0)
	5%
		-webkit-transform: translate(0, 0)
		-moz-transform: translate(0, 0)
		-ms-transform:  translate(0, 0)
		transform: translate(0, 0)
	7.5%
		-webkit-transform: translate(3px, 0)
		-moz-transform: translate(3px, 0)
		-ms-transform:  translate(3px, 0)
		transform: translate(3px, 0)
	10%
		-webkit-transform: translate(0, 0)
		-moz-transform: translate(0, 0)
		-ms-transform:  translate(0, 0)
		transform: translate(0, 0)
	12.5%
		-webkit-transform: translate(3px, 0)
		-moz-transform: translate(3px, 0)
		-ms-transform:  translate(3px, 0)
		transform: translate(3px, 0)
	15%
		-webkit-transform: translate(0, 0)
		-moz-transform: translate(0, 0)
		-ms-transform:  translate(0, 0)
		transform: translate(0, 0)
	100%
		-webkit-transform: translate(0, 0)
		-moz-transform: translate(0, 0)
		-ms-transform:  translate(0, 0)
		transform: translate(0, 0)
.header
	@extend %section-light
	max-height: 900px
	min-height: 100vh
	display: flex
	flex-direction: column
	justify-content: center
	&:after
		+background ("../img/bg_header.jpg")
		-webkit-background-size: cover
		background-size: cover

	.top-line
		width: 100%
		height: 70px
		background-color: rgba(#d8d9c1, .9)
		border-bottom: 1px solid rgba(#fff, .3)
		text-align: center
		position: fixed
		top: 0
		left: 0
		z-index: 5
		ul
			padding: 20px 0 15px
			li
				display: inline-block
				padding: 0 21px
				a
					font-size: 1.1em
					border-bottom: 1px solid transparent
					transition: color .2s ease, border-color .4s ease
					&:hover, &:focus
						color: #fff
						border-color: #efefef
					&:focus
						font-weight: bold

.logo-composition
	text-align: center
	padding-top: 100px
	position: relative
	.logo-img
		img
			max-width: 60%

.button
	margin: 100px auto
	display: inline-block
	font-family: 'OpenSans', sans-serif
	border-bottom: 1px solid $green
	border-radius: 5px
	background-color: #f7f5d5
	font-size: 1.1em
	padding: 10px 20px 8px
	transition: all .25s ease
	&:hover
		background-color: $accent
		a
			color: #fff
			font-weight: 500
	&:focus
		background-color: darken($accent, 10%)
		a
			color: #fff

.bottom-line
	background-color: rgba(#333, .05)
	border-top: 1px solid rgba(#fff, .3)
	position: absolute
	width: 100%
	bottom: 0
	.address, .phone
		font-family: 'OpenSans', sans-serif
		font-size: .9em
		line-height: 1.4
		color: $grey
		padding: 10px 0 10px 25px
		-webkit-transition: all .3s
		-moz-transition: all .3s
		-ms-transition: all .3s
		-o-transition: all .3s
		transition: all .3s
		position: relative
		&:hover svg
			fill: $green
			animation: tremble 5s infinite
			//animation-delay: 10s
		&:hover p, &:hover .phone__numbers a
			color: #485f25
		svg
			fill: $grey
			position: absolute
			top: 20px
	.address
		svg
			left: 0
	.phone
		float: right
		svg
			right: 130px
	.title
		cursor: pointer
		&::after
			content: attr(data-title)
			opacity: 0
			transition: all .3s
			position: absolute
			top: -20px
			left: 40px
			z-index: 3
			color: #485f25
			border: 1px solid $green
			-webkit-border-radius: 3px
			-moz-border-radius: 3px
			border-radius: 3px
			padding: 2px 20px
		&:hover::after
			opacity: 1
	.arrow_header
		position: absolute
		left: 50%
		top: 25%
		width: 30px
