@media only screen and (max-width: 992px)
	.owl-carousel-s1
		.owl-carousel-item
			flex-direction: row
		.owl-item:nth-child(2n) .owl-carousel-item
			flex-direction: row

@media only screen and (max-width: 768px)
	.header 
		.top-line
			height: 50px
			.toggle-menu
				display: block
		.nav
			&__list
				display: none
		.bottom-line
			padding-bottom: 10px
			.address-wrap, .phone-wrap
				text-align: center
			.address, .phone
				text-align: center
				display: inline-block
				padding-bottom: 0
				float: none
			.header__arrow
				display: none
			.title:after
				visibility: hidden
	.reviews__owl-carousel 
		h3:after, h3:before
			visibility: hidden
	.contacts
		&__text
			text-align: center
		.map
			margin-bottom: 50px
		.request__logo
			display: none
	.footer
		&__author
			min-height: 0
			.author, .copyright
				line-height: 1
	.anchor
		height: 50px
@media only screen and (max-width: 480px)
	.header .logo-composition .logo-img img 
		max-width: 90%
	.section2
		.fotorama-row
				display: block
		.fotorama
			overflow: visible
			&__nav-wrap
				bottom: -80px
	.reviews__owl-carousel
		.owl-nav 
			.owl-prev
				left: -25px
			.owl-next
				right: -25px
		.request-text
			text-align: center

